body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


header {
    background-color: #004aad;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    height: 100px;
}


.header-logo {
    width: auto;
    height: 70px;
    margin-right: 10px;
}

.dropbtn{
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-style: normal;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn::after {
    content: '';
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 10px;
}

#divBusca{
    background-color:rgb(234, 235, 236);
    border-radius:20px;
    width:400px;
    padding: 3px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:360px;
  }

input {
    border-right: none;
    outline: none;
    font-size: 14px;
    cursor: text; 
}

.header-icons img {
    margin-right: 30px;
}

.header-icons {
    height: 50px;
    display: flex;
    align-items: center;
}


.header-menu-icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}


main {
    background-color: #dedfe0;
    display: block;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 65vw;
}

footer {
    height: 70px;
    background-color: #004aad;
    display: flex;
    padding: 10px 20px ;
}

.div-footer {
    display: flex;
    align-self: flex-start;
    flex-grow: 1;
}

.footer-image {
    align-self: flex-start;
    margin: 10px;
    margin-left: 20px;
}

.footer-description {
    text-align: left;
    align-self: center;
    margin-right: 50px;
    color: #fff;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 80px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 100px;
}

.grid-item {
    
    background-color: rgba(243, 243, 243, 0.87);
    padding: 50px;
    align-items: center;
   /*  border: 1px solid #999; */
    width: 200px;
    height: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.grid-image {
    align-self: center;
    justify-self: center;
    max-width: 100%;
    object-fit: cover;
}

.image-container {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-description {
    text-align: left;
    margin-top: 10px;
}


.grid-value {
    text-align: left;
    font-weight: bold;
}


#produto {
    width: 100px;
    border-radius: 30px;
}

.grid-button {
    background-color: #004aad;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    header {
        width: 100vw;
    }

    main {
        width: 100vw;
        min-height: 100vh;
        padding: 0px;
    }

    body {
        width: 100vw;
        min-height: 100vh;
    }

    .header-logo {
        width: auto;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header-text {
        display: none;
    }

    .header-icons img:not(.header-menu-icon, .specific-icon) {
        display: none;
    }

    .header-menu-icon {
        margin-left: 0;
        margin-top: 10px;
    }


    .grid-container {
        width: 100vw;
        grid-template-columns: repeat(4, 1fr);
        /* 2 colunas em telas menores */
        overflow-x: scroll;
        /* Habilitar rolagem horizontal */
        white-space: nowrap;
        /* Impedir quebras de linha */
    }

    .grid-description {
        white-space: normal;
    }

    .grid-item {
        width: 60vw;
        flex: 0 0 auto;
    }

    .footer-image {
        margin-left: 10px;
    }
}
